<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        {{ if eq .Section "guide" }}
            {{ i18n "guide_for" }}
        {{ end }}
        {{ .Title }}
        {{ if eq .Section "guide" }}
            | {{ .Site.Title }}
        {{ end }}
    </title>
    <!-- PicoCSS -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.5.3/css/pico.min.css" integrity="sha384-x2grTbN+s4BXSUxnfuMLqiLAb4wtvew6Yq9ozcRiWYStIrbOU+DjcuGm2g6hpz4B" crossorigin="anonymous" />
    <!-- Customization -->
    <link rel="stylesheet" href="{{ (resources.Get "css/style.css" | minify).RelPermalink }}" />
</head>