<nav class="container">
    <ul>
        {{ if ne .Title "unimi-calendar"}}
        <li><strong><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></strong></li>
        {{ end }}
    </ul>
    <ul>
        <li class="pointer" data-target="modal-wat" onclick="toggleModal(event)">🤌 wat?</li>
        <li>|</li>
        {{ range $.AllTranslations }}
        <li class="lang {{ if eq $.Site.Language .Language }}active-lang{{ end }}"><a href="{{ .Permalink }}">{{ .Language.Params.flag }}</a></li>
        {{ end }}
    </ul>
</nav>